.App {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.leaflet-container {
  width: 75vw;
  height: 100vh;
}

.left-container {
  width: 25vw;
}

.MuiFormControl-root.formControl {
  width: 15vw;
  margin-top: 2rem !important;
}
